{{!-- utilized https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main 
as a skeleton code --}}

<!-- index.hbs -->
<h1>MMORPG World!</h1>
<p>Welcome to the MMORPG World</p>
<nav id="navbar">
    <ul>
        <li>
            <a href="/players-page">Players</a>
            <a href="/PlayerMonster-page">Player to Monster Kills</a>
            <a href="/regions-page">Regions</a>
            <a href="/monsters-page">Monsters</a>
            <a href="/items-page">Items</a>
            <a href="/PlayerItem-page">Player Items</a> 
        </li>
    </ul>
</nav>
