<!-- index.hbs -->
<h1>The server is running!</h1>
<p>Welcome to the MMORPG World</p>
<nav id="navbar">
    <ul>
        <li>
            <a href="/players-page">Players</a>
            <a href="/invts-page">Player Inventories</a>
            <a href="/regions-page">Regions</a>
            <a href="/monsters-page">Monsters</a>
            <a href="/items-page">Items</a>
        </li>
    </ul>
</nav>
